body {
    font-family: $main_f-family;
}

h2 {
    color: $main_color;
    font-weight: 400;
}

h5 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    padding: $box_spacing_small 0;
}

li {
    list-style: none;
}

footer {
    a {
        color: currentColor;
        text-decoration: none;
    }
}