.card {
    width: calc(100% / 3 - 20px);
    margin: 10px;
    cursor: pointer;
    img {
        width: 100%;
        display: block;
    }
    @media screen and (max-width: $tablet) {
        width: calc(100% / 2 - 20px);
    }
    @media screen and (max-width: $tablet) {
        width: 100%;
    }
}