* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 500;
  padding: 30px;
}

h2 {
  color: #002d73;
  font-weight: 400;
}

h5 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  padding: 15px 0;
}

li {
  list-style: none;
}

footer a {
  color: currentColor;
  text-decoration: none;
}

.container {
  width: 85%;
  margin: auto;
}

.container__cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .menu__nav ul {
  display: flex;
  padding: 10px;
  margin-top: 30px;
}
.menu .menu__nav ul a {
  text-decoration: none;
  color: currentColor;
  padding: 10px;
  font-weight: 500;
}
.menu .menu__nav ul a.active {
  background-color: #b2e5fc;
}

.product {
  width: 100%;
  text-align: center;
  color: #002d73;
}
.product img {
  width: 80%;
}
.product p {
  text-align: left;
}

footer li {
  font-size: 14px;
}
footer .menu__footer {
  padding-top: 30px;
  color: #848d9b;
  display: flex;
}
footer .menu__footer .copyright {
  width: 25%;
}
footer .menu__footer .copyright img {
  width: 100%;
  padding: 15px 0;
}
footer .menu__footer .footer__navbars {
  display: flex;
  justify-content: space-around;
  width: 75%;
}
footer .menu__footer .footer__navbars li {
  line-height: 25px;
}
@media screen and (max-width: 1000px) {
  footer .menu__footer .footer__navbars {
    width: 85%;
  }
}
@media screen and (max-width: 768px) {
  footer .menu__footer {
    flex-direction: column;
  }
  footer .menu__footer .copyright {
    width: 100%;
  }
  footer .menu__footer .footer__navbars {
    flex-direction: column;
    width: 100%;
  }
}
footer::after {
  content: "";
  display: block;
  height: 150px;
  width: 100%;
  background-image: url(../images/footer-montagne-bottom.jpg);
}
@media screen and (max-width: 768px) {
  footer::after {
    background-position-x: 20%;
  }
}

.btn__change {
  font-size: 50px;
  padding: 15px 10px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 50%;
  border-radius: 5px;
}
.btn__change.previous_product {
  left: 0;
}
.btn__change.next_product {
  right: 0;
}

.card {
  width: calc(100% / 3 - 20px);
  margin: 10px;
  cursor: pointer;
}
.card img {
  width: 100%;
  display: block;
}
@media screen and (max-width: 768px) {
  .card {
    width: calc(100% / 2 - 20px);
  }
}
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

#home {
  position: relative;
  padding: 30px 0;
}
#home.home__background--img {
  background-image: url(../images/fondo-pag-speciali.jpg);
}
#home.home__background--col {
  background-color: #b7dae5;
}
#home section h2 {
  text-transform: uppercase;
}
