* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h2 {
  color: #002d73;
  font-weight: 400;
}

h5 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  padding: 15px 0;
}

li {
  list-style: none;
}

footer a {
  color: currentColor;
  text-decoration: none;
}

.container {
  width: 85%;
  margin: auto;
}

.container__cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.background--img {
  background-image: url(../images/fondo-pag-speciali.jpg);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .menu__nav ul {
  display: flex;
  padding: 10px;
  margin-top: 30px;
}
.menu .menu__nav ul a {
  text-decoration: none;
  color: currentColor;
  padding: 10px;
}

footer li {
  font-size: 14px;
}
footer .menu__footer {
  padding-top: 30px;
  color: #848d9b;
  display: flex;
}
footer .menu__footer .copyright {
  width: 25%;
}
footer .menu__footer .copyright img {
  padding: 15px 0;
}
footer .menu__footer .footer__navbars {
  display: flex;
  justify-content: space-around;
  width: 75%;
}
footer .menu__footer .footer__navbars li {
  line-height: 25px;
}
footer::after {
  content: "";
  display: block;
  height: 150px;
  width: 100%;
  background-image: url(../images/footer-montagne-bottom.jpg);
}

.card {
  width: calc(100% / 3 - 20px);
  margin: 10px;
  cursor: pointer;
}
.card img {
  width: 100%;
  display: block;
}

#home {
  padding: 30px 0;
}
#home section h2 {
  text-transform: uppercase;
}
