* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h2 {
  color: #002d73;
  font-weight: 400;
}

.container {
  width: 85%;
  margin: auto;
}

.container__cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

nav li {
  list-style: none;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .menu__nav ul {
  display: flex;
  padding: 10px;
  margin-top: 30px;
}
.menu .menu__nav ul a {
  text-decoration: none;
  color: currentColor;
  padding: 10px;
}

.card {
  width: calc(100% / 3 - 20px);
  margin: 10px;
}
.card img {
  width: 100%;
  display: block;
}

#home {
  padding: 30px 0;
  background-image: url(../images/fondo-pag-speciali.jpg);
}
#home section h2 {
  text-transform: uppercase;
}
