.container {
    width: $container_width;
    margin: auto;
}

.container__cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.background--img {
    background-image: url(../images/fondo-pag-speciali.jpg);
}

.background--col {
    background-color: $background_color;
}