footer {
    li {
        font-size: $font_small;
    }
    .menu__footer {
        padding-top: $box_spacing;
        color: $text_color;
        display: flex;
        .copyright {
            width: 25%;
            img { 
                width: 100%;
                padding: $box_spacing_small 0;
            }
        }
        .footer__navbars {
            display: flex;
            justify-content: space-around;
            width: 75%;
            li  {
                line-height: 25px;
            }
        }
        @media screen and (max-width: 1000px) {
            .footer__navbars {
                width: 85%;
            }
        }
        @media screen and (max-width: $tablet) {
            flex-direction: column;
            .copyright {
                width: 100%;
            }
            .footer__navbars {
                flex-direction: column;
                width: 100%;
            }
        }
    }
    &::after {
        content: '';
        display: block;
        height: 150px;
        width: 100%;
        background-image: url(../images/footer-montagne-bottom.jpg);
        @media screen and (max-width: $tablet) {
            background-position-x: 20%;
        }
    }
}